/* من در اینجا فقط از ایدی ها و خود تگ ها استفاده کردم */
/* به کل بادی بک گراند تغریبا مشکی دادم */
body{
    background-color: rgb(43, 42, 42);
}
/* با ایدی ک دادم سلکتشون کزدم تا کارای زیر اتفاق بیوفتن این ایدی کل محدوده را در برمیگیرد  */
#allsection{
    /* بک گراند قسمت ثبت نام رو مشخص کردم */
    background-color: gainsboro;
    /* با فلکس چینش ایتم ها رو مشخص کردم */
    display: flex;
    /* با فلکس دایرکش مشخص کردم ک میخام همه عناصر به صورت ستونی زیر هم باشند */
    flex-direction:column;
    /* با فلکس ایتم مشخص کردم ک همه به وسط منتقل بشن  */
    align-items:center;
    /* با عرض ۶۰ درصد مشخص کردم ک ۶۰ درصد کل صفحه رو در بربگیره */
    width: 60%;
    /* بابدینگ دادن از بالا و بایین و چب و راست ده بیکسل مقداری از درون فاصله انداختم */
    padding: 10px 10px;
    /* با مارجین صفر و اتو مشخص کردم ک کل فرم در وسط صفه جای بگیرد */
    margin: 0 auto;
    /* با تکست الاین تمام نوشته ها از جمله تگ های لیبل به وسط منتقل شدن  */
    text-align: center;
    /* با بوردر ردیوس به فرم یه انحنای 25 درصدی دادم */
    border-radius: 10%;
}
/* تگ های انبوت رو انتخاب کردم ک بهشون استایل بدم */
input{
    /* با دیبلی فلکس همه به صورت بلاک شدن و با جاستیفای کانتنت تونستم مدیریتشون کنم ک بیان وسط */
    display:flex;
    justify-content:center;
    /* عرضشونو کل بلاک فلکس در نظر گرفتم */
    width: 100%;
}
/* برای حذف کردن فلش های بالا و بایین اینبوت نامبر از کد زیر استفاده کردم */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* تگ h1 رو انتخاب کردم ک بهش استایل بدم */
h1{
    /* بهش فقط یه بدیگ ۹ بیکسلی دادم ک هم از داخل فاصله داشته باشه هم اندازه کل زیاد نشه ک صفحه اسکرول داشته باشد */
    padding: 9px 0;
}
/* تگ های لیبل رو انتخاب کردم ک بهشون استایل بدم */
label{
    /* با بدینگ یه فاصله ریز انداختم از داخل  */
    padding:4px 0;
    /* با فونت سایز ۱.۳برابر کردم اتدازه فونت لیبل ها رو */
    font-size: 1.3em;
}
/* دکمه را با ایدیش انتخاب کردم ک بهش یکم استایل بدم */
#btn{
    /* با مارجین ۳۰ بیگسل نسبت به بالا و بایین فاصله انداختم و با اتو از چب و راست به وسط اوردم دکمه را */
    margin: 30px auto;
    /* بهش یه عرض ۵۰درصدی نسبت به بلاک فلکس ک بالا تر مشخص کردم دادم */
    width: 50%;
}

#p{
    color: #ef5350;
    text-align: center;
    /* visibility: hidden; */
}

