/* استایل ها صرفا برای نمایش بهتر داده شده در یو آی اصلی متفاوت خواهد بود */
/* دسترسی به لیبل ها از طریق اسم تگ پیدا کردیم */
label {
/*هست عرض و ارتفاعی که میدیم رو اعمال نمیکنه و فقط به اندازه محتوا هست برای اینکه اعمال بشه کد زیر استفاده شده inline لیبل  display  چون  */
  display: inline-block;
  /* عرض 120پیکس داده شده تا فیلد ها تراز شده باشند وزیر هم نمایش داده شوند*/
  width: 120px;
}
/*دسترسی پیدا میکنیم X به دکمه  */
#closeFormBtn {
    /* فاصله المنت از سمت راست */
  margin-right: 320px;
}
/* به دکمه نمایش فرم از طریق آی دی دسترسی پیدا میکنیم */
#showFormBtn {
    /* میزان گسترش المنت از چهار جهت 10 پیکسل میباشد */
  padding: 10px;
}
/* به همه ی اینپوت ها دسترسی پیدا کردیم با نام تگ */
input {
  width: 200px;
    /* میزان گسترش از بالا و پایین 5 پیکسل و از چپ و راست 10 پیکسل خواهد بود */
  padding: 5px 10px;
  /* فاصله ی هرکدام از اینپوت ها از بالا و پایین 10 پیکس خواهد بود */
  margin: 10px 0;
}
/* به اینپوت فیلد موبایل از طریق تایپ آن دسترسی پیدا کردم */
input[type="submit"] {
    /*میزان فاصله از راست 125پیکسل هست  */
  margin-right: 125px;
  /* عرض 195 پیکسل برای دکمه در نظر گرفته شده */
  width: 225px;
}
/* به دیو های نمایش پیام از طریق جاوااسکریپت کلاس زیر را اضافه و ریمو میکنیم */
.messageBox{
    width: 190px;
    margin-right: 125px;
    /* میززان گرد شدن گوشه های المنت */
    border-radius: 3px;
    /*الاین متن را مشخص میکند، متن رو در وسط دیو قرار میدهیم */
    text-align: center;
    padding: 5px 15px;
}