/* استایل ها صرفا برای نمایش بهتر داده شده در یو آی اصلی نباید به این صورت مقداردهی شود که اعداد متفاوت استفاده کنیم */

/* #region h3 */
/* من از طریق نام تگ بهشش دسترسی پیدا کردم و استایل هامو دادم */
h3 {
	/* عرض المنت ما */
	width: 225px;
	/* رنگ بک گراند رو خاکستری کردم */
	background: gray;
	/* فاصله المنت از راست */
	margin-right: 122px;
	/* میزان گسترش المنت نسبت به بالا و پایین */
	padding: 5px 0;
	/* الاین متن یعنی محل قرار گیری متن در پرنت که در اینجا وسط در نظر گرفته شده */
	text-align: center;
	/* میزان گرد شدن گوشه ها */
	border-radius: 3px;
	/* رنگ متن راسفید کردم برای نمایش بهتر در بک گراند خاکستری  */
	color: #fff;
}
/* #endregion */
/* #region label*/
/* دسترسی به لیبل ها از طریق اسم تگ پیدا کردیم */
label {
	/*هست عرض و ارتفاعی که میدیم رو اعمال نمیکنه و فقط به اندازه محتوا هست برای اینکه اعمال بشه کد زیر استفاده شده inline لیبل  display  چون  */
	display: inline-block;
	/* عرض 120پیکس داده شده تا فیلد ها تراز شده باشند وزیر هم نمایش داده شوند*/
	width: 120px;
}
/* #endregion */
/* #region button#addContactPage */
/*به دکمه افزودن مخاطب توسط آی دی دسترسی پیدا میکنیم */
#addContactPage {
	/* فاصله المنت از سمت راست */
	margin-right: 125px;
	/* میزان گسترش باتن از چهارطرف */
	padding: 6px;
}
/*  #endregion */
/* #region button#closePopupForm */
/* X: به دکمه بستن از طریق آی دی دسترسی پیدا میکنیم */
#closePopupForm {
	/* میزان گسترش المنت از چهار جهت 5 پیکسل میباشد */
	padding: 5px;
	/* میزان فاصله از راست */
	margin-right: 110px;
}
/* #endregion */
/* #region input */
/* به همه ی اینپوت ها دسترسی پیدا کردیم با نام تگ */
input {
	width: 200px;
	/* میزان گسترش از بالا و پایین 5 پیکسل و از چپ و راست 10 پیکسل خواهد بود */
	padding: 5px 10px;
	/* فاصله ی هرکدام از اینپوت ها از بالا و پایین 10 پیکس خواهد بود */
	margin: 10px 0;
}
/* #endregion */
/* #region button#saveBtn */
/* به اینپوت فیلد موبایل از طریق تایپ آن دسترسی پیدا کردم */
#saveBtn {
	/* عرض 225 پیکسل برای دکمه در نظر گرفته شده */
	width: 225px;
	/* میزان گسترش از بالا و پایین 5 پیکسل و از چپ و راست 10 پیکسل خواهد بود */
	padding: 5px 10px;
	/* میزان فاصله از بالا 10 پیکسل از راست 125پیکسل هست و از پایین و چپ 0 پیکسل میباشد */
	margin: 10px 125px 0 0;
}
/* #endregion */
/* #region div.messageBox */
/* به دیو های نمایش پیام از طریق جاوااسکریپت کلاس زیر را اضافه و ریمو میکنیم */
.messageBox {
	display: inline-block;
	width: 190px;
	margin-right: 50px;
	/* میززان گرد شدن گوشه های المنت */
	border-radius: 3px;
	/*الاین متن را مشخص میکند، متن رو در وسط دیو قرار میدهیم */
	text-align: center;
	padding: 5px 15px;
}
/* #endregion */